@model GameBrowserModel

<h1>Search</h1>


@if (Context.Session.GetString("Username") is null)
{
    <h3>You must be logged in to view this page</h3>
}
else
{
    <form method="post" action="/Browser">
        <input type="text" name="search"/>
        <input type="submit" value="Search"/>
    </form>

    <ul>
        @foreach (var item in Model.AllGames)
        {
            <li>
                @item.Name: @item.Description
                <ul>
                    @foreach (var tag in item.Tags)
                    {
                        <li>
                            @tag
                            @if (Context.Session.GetString("Admin") == "true")
                            {
                                <form method="post" action="/Login/RemoveTag">
                                    <input type="hidden" name="boardGameName" value="@item.Name"/>
                                    <input type="hidden" name="tagName" value="@tag"/>
                                    <input type="submit" value="Remove"/>
                                </form>
                            }
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

    <h>Logged in as @ViewData["username"]</h>
}