@model DatabaseEditorModel

@if (Model.SelectedData != null)
{
    <table>
        @for (int j=-1; j<Model.SelectedData.Rows.Count; j++)
        {
            <tr>
                @if (j == -1)
                {
                    foreach (var t in Model.SelectedData.ColumnNames)
                    {
                        <td>@t</td>
                    }
                }else 
                {
                    for (int i = 0; i < Model.SelectedData.ColumnNames.Count; i++)
                    {
                        <td>@Model.SelectedData.Rows[j][i]</td>
                    }
                    <td>
                        <form method="post" action="/Login/DeleteRow">
                            <input type="hidden" name="tableName" value="@Model.SelectedData.TableName"/>
                            @for (int i = 0; i < Model.SelectedData.ColumnNames.Count; i++)
                            {
                                <input type="hidden" name="columnValues[@i]" value="@Model.SelectedData.Rows[j][i]"/>
                            }
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
    
    @using (Html.BeginForm("SendRequestToDatabase", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <input type="hidden" name="newValues[0]" value="@Model.SelectedData.TableName" />
                </td>
                @for (int i = 0; i < Model.SelectedData.ColumnNames.Count; i++)
                {
                    <td>
                        <input type="text" name="newValues[@(i+1)]" placeholder="@Model.SelectedData.ColumnNames[i]"/>
                    </td>
                }
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>
        </table>
    }

}

